@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth; 
}
@media (max-width: 1050px) {
  .navbar .logo{
    width: 140px;
  }
  .navbar-menu{
    gap:20px;
    font-size:17px;
  }
  .navbar-right {
    gap:30px;
  }
  .navbar-right img{
    width: 22px;
  }
  .navbar-right button{
    padding: 10px 20px;
  }
}

@media (max-width: 900px) {
  .navbar .logo{
    width: 110px;
  }
  .navbar-menu{
    gap:15px;
    font-size:15px;
  }
  .navbar-right {
    gap:20px;
  }
  .navbar-right img{
    width: 20px;
  }
  .navbar-right button{
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .navbar .logo{
    width: 90px;
  }
  .navbar-menu{
    display: none;
  }
  .navbar-right {
    gap:10px;
  }
  .navbar-right img{
    width: 15px;
  }
  
}
@media (max-width: 400px) {
  .navbar .logo{
    width: 70px;
  }
  
} 
@media  (max-width: 550px) {
  .footer{
    padding-top: 50px;
  }
  .footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    top: -20px;
  }
  
}

.cart-items-title{
  grid-template-columns: 1fr 1.4fr 1fr 1.2fr 1fr 0.5fr;
  
}

.cart-items-item{
  grid-template-columns: 1fr 1.4fr 1fr 1.2fr 1fr 0.5fr;
  gap: min(10px);
}
  
@media (max-width: 750px) {
  .cart-bottom{
    flex-direction: column-reverse;
    
  }
  .cart-promocode{
    justify-content: start;
  }
}

@media (max-width: 750px) {
  .cart-top{
    gap: 10px;
    flex-direction: column;
  }
  
}
@media (max-width: 850px) {
  .place-order{
    
    
    margin-left: 40px;
    margin-right: 40px;
  }

}

@media (max-width: 750px) {
.place-order{
  display: flex;
  flex-direction: column;
  
  margin-left: 40px;
  margin-right: 40px;
}
.place-order-left,
.place-order-right{
  width: 100%;
  max-width: 80%;

}

}
@media (max-width: 550px) {
  .place-order{
    width: 100%;
    max-width: 100%;
    
  }

}
